.eslintcache
.cache
scalastyle-output.xml
.classpath
.idea/*
!.idea/vcs.xml
!.idea/icon.png
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
.mvn/wrapper/*.jar
.mvn/maven.config
target
tmp
*.class
*.iml
*.swp
*.jar
*.zip
*.log
*.pyc
.DS_Store
**/dependency-reduced-pom.xml
